{% extends 'base.html' %}
{% load comments_extras %}

{% block main %}
  <article class="post post-{{ post.pk }}">
    <header class="entry-header">
      <h1 class="entry-title">{{ post.title }}</h1>
      <div class="entry-meta">
        <span class="post-category"><a href="#">{{ post.category.name }}</a></span>
        <span class="post-date"><a href="#"><time class="entry-date"
                                                  datetime="{{ post.created_time }}">{{ post.created_time }}</time></a></span>
        <span class="post-author"><a href="#">{{ post.author }}</a></span>
        <span class="comments-link"><a href="#">4 Comment</a></span>
        <span class="views-count"><a href="#">588 Read</a></span>
      </div>
    </header>
    <div class="entry-content clearfix">
      {{ post.body | safe }}
    </div>
  </article>
  <section class="comment-area" id="comment-area">
    <hr>
    <h3>Comment</h3>
    {% show_comment_form post %}
    <div class="comment-list">
      {% show_comments post %}
    </div>
  </section>
{% endblock main %}

{% block toc %}
    {% if post.toc %}
        <div class="widget widget-content">
            <h3 class="widget-title">Catalog</h3>
            {{ post.toc | safe }}
        </div>
    {% endif %}
{% endblock toc %}
